// main
.main {
    margin-left: 296px;
}
// utils
// padding all
.p-32 {
    padding: 32px;
}
// padding y
.py-32 {
    padding: 0 32px;
}
// object-fit
.object-fit-cover {
    object-fit: cover;
}
.object-fit-fill {
    object-fit: fill;
}
.object-fit-contain {
    object-fit:contain
}
// img circle
.img-circle {
    width: 40px;
    max-height: 40px;
}

// card article
.card-article {
    max-width: 488px;
}