// main
.main {
    margin-left: 296px;
}
// utils
// padding all
.p-32 {
    padding: 32px;
}
// padding y
.py-32 {
    padding: 0 32px;
}
// object-fit
.object-fit-cover {
    object-fit: cover;
}
.object-fit-fill {
    object-fit: fill;
}
.object-fit-contain {
    object-fit:contain
}
// width
.w-40 {
    width: 40px;
}
// height
.h-40 {
    height: 40px;
}