<nav class="nav flex-column justify-content-between p-4 bg-light">
    <div>
        <a class="text-decoration-none" href="index.html"><h1 class="pb-4 mb-0">ANSWER</h1></a>
        <ul class="list-unstyled mb-0">
          <li class="pb-3">
            <a class="nav-link link-success fw-bold text-primary" href="#">Dashboard</a>
          </li>
          <li class="pb-3">
            <a class="nav-link link-success fw-bold text-primary" href="#">Question</a>
          </li>
          <li class="pb-3">
            <a class="nav-link link-success fw-bold text-primary" href="#">Assignment</a>
          </li>
          <li class="pb-3">
            <a class="nav-link link-success fw-bold text-primary" href="#">Course</a>
          </li>
          <li class="pb-3">
            <a class="nav-link link-success fw-bold text-primary" href="admin.html">Admin</a>
          </li>
          <li class="pb-3">
            <a class="nav-link link-success fw-bold text-primary" href="#">Settins</a>
          </li>
        </ul>
    </div>
    <div>
        <div>
            <p class="text-dark d-flex flex-column">Andy Chen<span class="d-block text-secondary">andy0401@mail.com</span></p>
        </div>
    </div>
  </nav>