<nav class="nav flex-column justify-content-between p-4 bg-light">
    <div>
        <a class="text-decoration-none text-dark" href="index.html"><h1 class="pb-4 mb-0">ANSWER</h1></a>
        <ul class="list-unstyled mb-0">
          <li class="pb-3">
            <a class="nav-link text-dark link-success fw-bold" href="#">
              <span class="material-icons align-middle me-3">assessment</span>Dashboard</a>
          </li>
          <li class="pb-3">
            <a class="nav-link text-dark link-success fw-bold" href="#">
              <span class="material-icons align-middle me-3">question_answer</span>Question</a>
          </li>
          <li class="pb-3">
            <a class="nav-link text-dark link-success fw-bold" href="index.html">
              <span class="material-icons align-middle me-3">assignment</span>Assignment</a>
          </li>
          <li class="pb-3">
            <a class="nav-link text-dark link-success fw-bold" href="#">
              <span class="material-icons align-middle me-3">video_library</span>Course</a>
          </li>
          <li class="pb-3">
            <a class="nav-link text-dark link-success fw-bold" href="admin.html">
              <span class="material-icons align-middle me-3">supervisor_account</span>Admin</a>
          </li>
          <li class="pb-3">
            <a class="nav-link text-dark link-success fw-bold" href="#">
              <span class="material-icons align-middle me-3">settings</span>Settins</a>
          </li>
        </ul>
    </div>
    <div>
        <div class="d-flex flex-column">
            <p class="text-dark fw-bold mb-0">Andy Chen</p>
            <span class="d-block text-secondary">andy0401@mail.com</span>
        </div>
    </div>
  </nav>