// index a
h1 a {
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/089c08805225f9e5861d199b084cba8a05bdaa40/week5/logo-ANSWER.svg);
    width: 151px;
    height: 40px;
}

.nav {
    position: fixed;
    min-width: 296px;
    min-height: 100vh;
}
.nav-link {
    padding: 12px 32px;
    position: relative;
    &:active{
        &::before{
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 4px;
            border-left: 4px solid #198754;
        }
    }
}