<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ANSWER</title>
  </head>
  <body>
    <!-- <%- include('./layout/header'); -%> -->

    <nav class="nav flex-column p-4">
      <h1 class="pb-4">ANSWER</h1>
      <ul class="list-unstyled">
        <li class="pb-3">
          <a class="nav-link link-success" href="#">Dashboard</a>
        </li>
        <li class="pb-3">
          <a class="nav-link link-success" href="#">Question</a>
        </li>
        <li class="pb-3">
          <a class="nav-link link-success" href="#">Assignment</a>
        </li>
        <li class="pb-3">
          <a class="nav-link link-success" href="#">Course</a>
        </li>
        <li class="pb-3">
          <a class="nav-link link-success" href="#">Admin</a>
        </li>
        <li class="pb-3">
          <a class="nav-link link-success" href="#">Settins</a>
        </li>
      </ul>
    </nav>
    <main class="main">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-4">
            <ul class="list-group">
              <li class="list-group-item">

              </li>
              <li class="list-group-item"></li>
              <li class="list-group-item"></li>
              <li class="list-group-item"></li>
            </ul>
            <div class="list-group">
              <a class="list-group-item d-flex flex-column" href="#">
                <div class="d-flex justify-content-between"><span>Chapter Assignment 2</span><span>4 hrs ago</span></div>
                <div class="d-flex justify-content-between"><span>Please check this file...</span><span>Emily Wang</span></div>
              </a>
              <a class="list-group-item" href="#"></a>
              <a class="list-group-item" href="#">Messages</a>
              <a class="list-group-item" href="#">Settings</a>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- <%- include('./layout/footer'); -%> -->

    <script type="module" src="../main.js"></script>
  </body>
</html>
